In [16]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
import time
import pandas as pd

In [51]:
path = r"C:\Users\jakub\Downloads\chromedriver-win64\chromedriver.exe"
service = Service(path)
driver = webdriver.Chrome(service=service)
headers = ['Data', 'Otwarcie', 'Max', 'Min', 'Zamknięcie', 'Wolumen', 'Obrót']
table_data = []
for i in range(1, 127):
    if i == 1:
        driver.get("https://www.biznesradar.pl/notowania-historyczne/ORLEN")
    else:
        driver.get("https://www.biznesradar.pl/notowania-historyczne/ORLEN,"+str(i))
    time.sleep(5)
    table = driver.find_element(By.XPATH, '//table[@class="qTableFull"]')
    rows = table.find_elements(By.XPATH, './/tbody//tr')
    for row in rows:
        cells = row.find_elements(By.XPATH, './/td')
        table_data.append([cell.text for cell in cells])
driver.quit()

In [62]:
df = pd.DataFrame(table_data, columns=headers)

In [63]:
df = df.dropna()

In [66]:
df

            Data Otwarcie    Max    Min Zamknięcie     Wolumen        Obrót
1     09.12.2024    52.45  53.20  52.09      53.08   1 761 869   92 952 576
2     06.12.2024    52.50  53.15  52.00      52.14   1 446 088   76 014 952
3     05.12.2024    51.80  52.75  51.31      52.44   1 493 160   77 852 496
4     04.12.2024    51.58  52.15  51.23      51.66   1 506 019   77 799 504
5     03.12.2024    51.91  52.00  51.06      51.33   1 995 684  102 505 672
...          ...      ...    ...    ...        ...         ...          ...
6390  02.12.1999    23.00  23.70  22.90      23.20   2 271 721  105 862 199
6391  01.12.1999    22.30  22.80  22.10      22.80   2 116 147   95 015 000
6392  30.11.1999    21.90  22.30  21.90      22.10   2 260 083   99 895 669
6393  29.11.1999    22.00  22.10  21.60      21.70   3 781 050  165 231 885
6394  26.11.1999    22.20  22.40  21.40      22.10  10 902 704  477 538 435

[6269 rows x 7 columns]

In [67]:
df.to_csv('orlen_stock.csv', sep=',', index=False)